<%= form_for(@student) do |f| %>

    <div style = "text-align: center">
      <font size="5px" color="maroon"><strong><%= "Student Registration"%></strong></font><br><br>
    </div>

    <% if flash[:notice] %>
        <div id="error_explanation">
          <h2><%= pluralize(flash[:notice].count, "error") %> prohibited this student from being saved:</h2>

          <ul>
            <% flash[:notice].each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div><br>
      <font size="4px"><strong><%= "Basic Information"%></strong></font>
    </div>

		<br>

    <div>
      <div class="field"><font size="3.2px">•
        <%= f.label :name %><br>
        <%= f.text_field :name, :placeholder => "Student Name", class: 'form-control no-radius width_300' %>
      </div>

      <div class="field"><font size="3.2px">•
        <%= f.label :UIN,"UIN" %><br>
        <%= f.text_field :UIN, :placeholder => "Student UIN", class: 'form-control no-radius width_300' %>

      </div>

      <div class="field"><font size="3.2px">•
        <%= f.label :email %><br>
        <%= f.text_field :email, :placeholder => "Student Email", class: 'form-control no-radius width_300' %>

      </div>

      <div class="field"><font size="3.2px">•
        <%= f.label :US_Citizen,"I am a US-Citizen" %><br>
        <%= f.check_box :US_Citizen, class: 'checkbox no-radius' %>

      </div>

      <div class="field"><font size="3.2px">•
        <%= f.label :degree, "Student Level" %><br>
        <%= f.select :degree, options_for_select(%w[B.S. M.S. PH.D], @student.degree), :prompt=>"---Please select---" %>

      </div>

      <div class="field"><font size="3.2px">•
        <%= f.label :position_type, "Job Type" %><br>
        <%= f.select :position_type, options_for_select(%w[Internship Full-time], @student.position_type), :prompt=>"---Please select---" %>
      </div>
    </div>

    <div><br>
      <p><font size="4px"><strong><%= "Event and Time Selection" %></strong></font></p>
    </div>


    <div class="field"><font size="3.2px">
      <% @event_details.each do |id,name,date,start,en,editable| %>
          <%= f.label  "#{name}" , "• " + name + DateTime.parse("#{date}").strftime(" on %A %m-%d-%Y") + DateTime.parse("#{start}").strftime(" from %I:%M%p") + DateTime.parse("#{en}").strftime(" to %I:%M%p")  %><br>
          <% if editable %>
            <%= select_tag"#{name}", options_for_select($event_slots[id], $selected_slots[id]), :prompt=>"---Please select time for "+name+" ---" %> <br>
          <% elsif @logged_in %>
            <%= select_tag"#{name}", options_for_select($event_slots[id], $selected_slots[id]), :prompt=>"---Please select time for "+name+" ---" %> - Warning: Disabled for students to add / edit <br>
          <% else %>
            <%= select_tag"disabled_#{name}", options_for_select($event_slots[id], $selected_slots[id]), :prompt=>"Not Attend", :disabled => true %> <br>
            <%= hidden_field_tag name, $selected_slots[id] %>
          <% end %>
      <% end %>
    </div>
    <br>

    <div class="actions" >
      <%= f.submit "Submit", class: "btn btn-primary no-radius" %>
    </div>

    </body>

<% end %>
