<p id="notice" style="margin-left:150px"><%= notice %></p>

<div style = "text-align: center">
  <font size="5px" color=maroon><strong><%= "Students List"%></strong></font><br><br>
</div>

<div id="ABC" style="margin-left:150px; margin-right:150px" align="center">
  <div id="ABC1" >
    <%= link_to 'New Student', new_student_path %>
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    <%= link_to 'Back', sessions_url %>
  </div>
  <br>
</div>

<div style="margin-left:50px; margin-right:50px;">
<table class="table table-hover table-bordered" align="center"> 
  <thead>
  <tr>
    <th>Name</th>
    <th>UIN</th>
    <th>Email</th>
    <th>Citizenship</th>
    <th>Degree</th>
    <th>Position Type</th>
    <% @events.each do |event| %>
        <th><%= event[1] %></th>
    <% end %>
    <th colspan="3">Operation</th>
  </tr>
  </thead>

  <tbody>
  <% $students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.UIN %></td>
        <td><%= student.email %></td>
        <%if student.US_Citizen %>
        <td><%= "U.S. Citizen" %></td>
        <%else%>
        <td><%= "International" %></td>
        <%end%>
        <td><%= student.degree %></td>
        <td><%= student.position_type %></td>
        <% $stu_slot[student.id].each do |slot| %>
            <td><%= slot[1] %></td>
        <% end %>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Delete', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
<br>

