<div id="session" style="margin-left:150px; margin-right:150px">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>UIN:</strong>
  <%= @student.UIN %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Citizenship:</strong>
  <%if @student.US_Citizen %>
  <%= "U.S. Citizen" %>
  <%else %>
  <%= "International" %>
  <%end %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @student.degree %>
</p>

<p>
  <strong>Position type:</strong>
  <%= @student.position_type %>
</p>


  <% $stu_slot[@student.id].each do |slot| %>
    <p>
      <strong><%="#{slot[0]} :"%></strong>
      <%= slot[1] %><br>
    </p>
  <% end %>



<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
</div>
