<%= form_for(@event) do |f| %>
    <br>
    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

          <ul>
            <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <font size="4px">
      <br>
      <div class="field">
        <strong><%= f.label :editable, "Editable for Students" %></strong><br>
        <font size="2px"><%= "Can students change their responses?" %></font><br>
        <%= f.check_box :editable%>
      </div>
      
      <div class="field">
        <strong><%= f.label :name ,"Event Name" %></strong><br>
        <font size="2px"><%= "Enter name of the event you want to add." %></font><br>
        <%= f.text_field :name, :placeholder => "Event Name", class: 'form-control no-radius width_300' %>
        <%= f.label :careerfair, "Is this event a career fair?" %>
        <%= f.check_box :careerfair%>
      </div>

      <div class="field">
        <strong><%= f.label :event_date ,"Event Date" %></strong><br>
        <font size="2px"><%= "Enter the date of the event." %></font><br>
        <%= f.date_select :event_date, :disabled => @unedit%>
      </div>

      <div class="field">
        <strong><%= f.label :start_time, "Start Time" %></strong><br>
        <font size="2px"><%= "Enter the start time of the event." %></font><br>
        <%= f.time_select :start_time, {:ampm => true}, :disabled => @unedit%>
      </div>

      <div class="field">
        <strong><%= f.label :end_time, "End Time" %></strong><br>
        <font size="2px"><%= "Enter the end time of the event." %></font><br>
        <%= f.time_select :end_time, {:ampm => true}, :disabled => @unedit%>
      </div>

      <div class="field">
        <strong><%= f.label :for_student, "For Students" %></strong><br>
        <font size="2px"><%= "Can students attend this event?" %></font><br>
        <%= f.check_box :for_student%>
      </div>

      <div class="field">
        <strong><%= f.label :for_company, "For Companies" %></strong><br>
        <font size="2px"><%= "Can companies attend this event?" %></font><br>
        <%= f.check_box :for_company%>
      </div>

      <div class="field"><br>
        <strong><%= f.label :max_students, "Student Capacity" %></strong><br>
        <font size="2px"><%= "Enter the maximum number of students that can attend this event." %>
          <strong>Enter a positive number</strong></font><br>
        <%= f.number_field :max_students , :disabled => @unedit, :placeholder => "Max number of students for this event", class: 'form-control no-radius width_300' %>
      </div>

      <div class="field"><br>
        <strong><%= f.label :timeslot_duration, "Timeslot Duration" %></strong><br>
        <font size="2px"><%= "Please enter the duration(in minutes) of time slots you want to add. Each event can have multiple timeslots depending on the duration of each time slot" %></font><br>
        <%= f.number_field :timeslot_duration , :disabled => @unedit, :placeholder => "Duration (in minutes)", class: 'form-control no-radius width_300' %>
      </div>

      <br>

      <div class="actions" >
        <%= f.submit @button_value, class: "btn btn-primary no-radius" %>
      </div>

    </font>
<% end %>
