<div id="session" style="margin-left:150px; margin-right:150px">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Editable for Students:</strong>
    <%= @event.editable %>
  </p>

  <p>
    <strong>Event name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= @event.event_date %>
  </p>

  <p>
    <strong>Event duration:</strong>
    <%= @event.start_time.strftime("%I:%M%p") %> - <%= @event.end_time.strftime("%I:%M%p") %>
  </p>

  <p>
    <strong>Maximum students:</strong>
    <%= @event.max_students %>
  </p>

  <p>
    <strong>Students allowed:</strong>
    <%= @event.for_student %>
  </p>

  <p>
    <strong>Companies allowed:</strong>
    <%= @event.for_company %>
  </p>

  <p>
    <strong>Timeslots:</strong><br>
    <% @event_slots[@event.id].each do |slot| %>
        <%= slot %><br>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %> |
  <%= link_to 'Export to Excel', event_path(format: "xls") %>
</div>
