<p id="notice" style="margin-left:150px"><%= notice %></p>

<div style = "text-align: center">
  <font size="5px" color=maroon><strong><%= "Companies List"%></strong></font><br><br>
</div>

<div id="ABC1" align="center">
  <%= link_to 'New Company', new_company_path %>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <%= link_to 'Back', sessions_url %>
</div>
<br>

<div style="margin-left:50px; margin-right:50px;">
<table class="table table-hover table-bordered" align="center">
  <thead>
  <tr>
    <th>Name</th>
    <th>Contact Person</th>
    <th>Contact Email</th>
    <th>Membership Level</th>
    <th>Citizenship</th>
    <th>Job Type</th>
    <th>Student Level</th>
    <% @events.each do |e| %>
        <th><%= e.name %> #</th>
    <% end %>
    <th colspan="3">Operation</th>
  </tr>
  </thead>

  <tbody>
  <% @companies.each do |company| %>

      <tr>
        <td><%= company.name %></td>
        <td><%= company.contact_person %></td>
        <td><%= company.contact_email %></td>
        <td><%= company.sponsor_level %></td>
        <td><%= company.citizenship %></td>
        <td><%= company.job_type %></td>
        <td><%= company.student_level.join(" , ") %></td>
        <% @events.each do |e| %>
            <% rep = company.companyevents.where(company_id: company.id, event_id: e.id).to_yaml.match(/representatives: [ \t]*([^\n\r]*)/).to_s.match(/'(.*)'/).to_s.gsub("'","") %>
            <% if rep.empty? then rep = 0 end %>
            <td><%= rep %></td>
        <% end %>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td><%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  <% end %>
  </tbody>
</table>
</div>
<br>

