<div style = "text-align: center">
  <font size="5px" color=maroon><strong><%= "Appointments List"%></strong></font><br><br>
</div>



<div id="ABC1" align="center">
  <%= link_to 'New Appointment', new_appointment_path %>
  &nbsp&nbsp|&nbsp&nbsp
  <%= link_to 'Generate', generate_path %>
  <br>
  <%= link_to 'Back', sessions_url %>
</div>
<br>


<% if flash[:notice] && flash[:notice][0] == "Error timeslot Below:" %>
    <p id="notice" align="center">
    <h3>Please check your company information, Following time slots lack enough representatives to assign each student with a company:</h3>
    <ul>
      <% flash[:notice].each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
    </p>
<% else %>
    <p id="notice" align="center"><%= notice %></p>
<% end %>

<table class="table table-hover table-bordered" align="center">
  <thead>
  <tr>
    <th>Section</th>
    <th>Time slot</th>
    <th>Company</th>
    <th>Student</th>
    <th>UIN</th>
    <th colspan="3">Operation</th>
  </tr>
  </thead>

  <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.section %></td>
        <td><%= appointment.time_slot %></td>
        <td><%= appointment.company %></td>
        <td><%= appointment.student %></td>
        <td><%= appointment.UIN %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr></tr>
  <% end %>

</table>

<br>

